# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- Python
- R
- JavaScript

### Some of the popular languages that Data Scientist use are:
1. Python   
2. R   
3. SQL   
4. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. PANDAS   
2. TENSORFLOW
3. NUMPY

| DATA SCIENCE TOOLS |
-----------------------
|     MY SQL  |      
|   POSTGRE SQL  |         
|    MONGODB   |

### Below are a few examples of evaluating arithmetic expressions in python

In [26]:
#This is a simple arithmetic expression to multiply then add integers.
print((3*4)+5)

17

In [28]:
#This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

## AUTHOR 
   ALEENA RIYAS